.formControl
{
    padding: 5px 10px !important;
    box-shadow: 2px 2px 10px;
    border-radius: 12px;
    width: 30%;
    margin-bottom: 10px !important;
}

.formControl option
{
    background-color: #f4f4f4 !important;
}

